@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Color variables for future use */
  /* Light Theme */
  :root {
    --color-bg: #f8fafc; /* slate.50 */
    --color-bg-secondary: #ffffff;
    --color-accent: #3b82f6; /* sky-500 */
    --color-accent-light: rgba(59, 130, 246, 0.1); /* sky-500/10% */
    --color-text: #475569; /* slate-600 */
    --color-dark-1: #0f172a; /* slate-900 */
    --color-dark-2: #334155; /* slate-700 */
    --color-dark-3: #cbd5e1; /* slate-300 */
  }

  /* Dark Theme */
  .dark {
    --color-bg: #0f172a; /* slate-900 */
    --color-bg-secondary: #1e293b; /* slate-800 */
    --color-accent: #60a5fa; /* sky-400 */
    --color-accent-light: rgba(96, 165, 250, 0.1); /* sky-400/10% */
    --color-text: #94a3b8; /* slate-400 */
    --color-dark-1: #e2e8f0; /* slate-200 */
    --color-dark-2: #cbd5e1; /* slate-300 */
    --color-dark-3: #334155; /* slate-700 */
  }

  @font-face {
    font-family: 'agustina';
    src: url('/fonts/Agustina-Signature.otf') format('opentype');
  }

  * {
    @apply focus:outline-dashed outline-[3px] outline-offset-4 outline-accent;
  }
}

/* TYPOGRAPHY */

.heading-secondary {
  @apply text-3xl sm:text-4xl capitalize font-medium mb-8 sm:mb-12 text-dark-2;
}
